.author-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .author-button {
    display: inline-block;
    padding: 10px;
    width: 40%;
    height: 30vh;
    text-align: center; /* Optional, to center the content inside the button horizontally */
  }
  
  .author-button-left{
    margin-right: 8vw;
    margin-left: 2vw;
  }

  .author-button-right{
    margin-left: 8vw;
    margin-right: 2vw;
  }

  .author-button-two {
    display: inline-block;
    padding: 10px;
    width: 20%;
    height: 30vh;
    text-align: center; /* Optional, to center the content inside the button horizontally */
  }