.author-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 91%;
    height: 68vh;
    display: flex;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  
  .author-button {
    display: inline-block;
    transition: transform 0.3s;
    width: 40%;
    height: 50vh;
    text-align: center;
  }

  /* --- */
  
  .author-button:hover {
    transform: scale(1.06);
    z-index: 1;
  }
  
  .author-button:not(:hover) {
    transform: scale(1);
  }

  /* --- */
  
  .author-button-left{
    margin-right: 8vw;
    margin-left: 2vw;
  }

  .author-button-right{
    margin-left: 8vw;
    margin-right: 2vw;
  }

