.back-button{
    margin-bottom: 3vh;
    padding: 0.5%;
    transition: transform 0.5s;
    width: 20%;
    margin-left: 40%;
    text-align: center;
  }
  .back-button:hover {
    transform: scale(1.08);
    z-index: 1;
  }
  
  .back-button:not(:hover) {
    transform: scale(1);
  }
