.border-radius-5px{
    border-radius: 5px;
}

.border-radius-8px{
    border-radius: 8px;
}

.border-radius-10px{
    border-radius: 10px;
}


.border-radius-13px{
    border-radius: 13px;
}

.border-radius-16px{
    border-radius: 16px;
}

