@font-face {
    font-family: 'sanfrancisco';
    src: url('/resources/fonts/sanfrancisco.otf') format('opentype'),
    url('https://cdn.theblack.cat/resources/fonts/sanfrancisco.otf') format('opentype');
  }
  @font-face {
    font-family: 'productsans-light';
    src: url('resources/fonts/productsanslight.ttf') format('truetype'),
    url('https://cdn.theblack.cat/resources/fonts/productsanslight.ttf') format('truetype');
  }
  @font-face {
    font-family: 'productsans-regular';
    src: url('resources/fonts/product-sans-regular.ttf') format('truetype'),
         url('https://cdn.theblack.cat/resources/fonts/product-sans-regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'productsans-bold';
    src: url('resources/fonts/product-sans-bold.ttf') format('truetype'),
         url('https://cdn.theblack.cat/resources/fonts/product-sans-bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'productsans-italic';
    src: url('resources/fonts/product-sans-italic.ttf') format('truetype'),
         url('https://cdn.theblack.cat/resources/fonts/product-sans-italic.ttf') format('truetype');
  }
  @font-face {
    font-family: 'productsans-italic-bold';
    src: url('resources/fonts/product-sans-italic-bold.ttf') format('truetype'),
         url('https://cdn.theblack.cat/resources/fonts/product-sans-italic-bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'chirp';
    src: url('resources/fonts/chirp.woff') format('woff'),
    url('https://cdn.theblack.cat/resources/fonts/chirp.woff') format('woff');
  }
  @font-face {
    font-family: 'latex-italic-bold';
    src: url('resources/fonts/latex-italic-bold.ttf') format('truetype'),
    url('https://cdn.theblack.cat/resources/fonts/latex-italic-bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'latex-italic-slim';
    src: url('resources/fonts/latex-italic-slim.ttf') format('truetype'),
    url('https://cdn.theblack.cat/resources/fonts/latex-italic-slim.ttf') format('truetype');
  }
  @font-face {
    font-family: 'latex-italic';
    src: url('resources/fonts/latex-italic.ttf') format('truetype'),
    url('https://cdn.theblack.cat/resources/fonts/latex-italic.ttf') format('truetype');
  }
  @font-face {
    font-family: 'latex-regular';
    src: url('resources/fonts/latex-regular.ttf') format('truetype'),
    url('https://cdn.theblack.cat/resources/fonts/latex-regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'cascadia';
    src: url('resources/fonts/cascadia.otf') format('opentype'),
    url('https://cdn.theblack.cat/resources/fonts/cascadia.otf') format('opentype');
  }
  @font-face {
    font-family: 'unisans';
    src: url('resources/fonts/unisans.ttf') format('truetype'),
         url('https://cdn.theblack.cat/resources/fonts/unisans.ttf') format('truetype');
    unicode-range: U+E020-E0DB;
  }

  @font-face {
    font-family: 'FFXIV';
    src: url('resources/fonts/finalf.ttf') format('truetype'),
         url('https://cdn.theblack.cat/resources/fonts/finalf.ttf') format('truetype');
    unicode-range: U+E020-E0DB;
  }
