.galleries-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 91%;
    height: 68vh;
    display: flex;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  
  .galleries-button {
    display: inline-block;
    padding: 10px;
    width: 30%;
    height: 50vh;
    text-align: center;
  }

  .galleries-button {
    transition: transform 0.3s;
  }
  
  .galleries-button:hover {
    transform: scale(1.06);
    z-index: 1;
  }
  
  .galleries-button:not(:hover) {
    transform: scale(1);
  }

  @media (min-width: 1600px) {
    .galleries-container {
      width: 55%;
      height: 68vh;
      padding-left: 23vw;
      padding-right: 23vw;
    }
  }