@media (prefers-color-scheme: light) {
    .glassbox-50{
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 1);
        color: black;
    }
    
    .glassbox-25{
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.9px);
        -webkit-backdrop-filter: blur(4.9px);
        border: 1px solid rgba(255, 255, 255, 0.5);
        color: black;
    }
    
    .glassbox-10{
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.9px);
        -webkit-backdrop-filter: blur(4.9px);
        border: 1px solid rgba(255, 255, 255, 0.5);
        color: black;
    }
  }


  @media (prefers-color-scheme: dark) {
    .glassbox-50{
        /* From https://css.glass */
        background: rgba(0, 0, 0, 0.5);
        box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgb(255, 255, 255);
        color: white;
    }
    
    .glassbox-25{
        /* From https://css.glass */
        background: rgba(0, 0, 0, 0.25);
        box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(4.9px);
        -webkit-backdrop-filter: blur(4.9px);
        border: 1px solid rgba(255, 255, 255, 0.5);
        color: white;
    }
    
    .glassbox-10{
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(4.9px);
        -webkit-backdrop-filter: blur(4.9px);
        border: 1px solid rgba(255, 255, 255, 0.5);
        color: white;
  } 
}
