.linktree-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68vh;
    width: 63vw;
    margin-top: 18vh;
    margin-left: 18.5%;
  }
  
  .linktree-button {
    display: inline-block;
    transition: transform 0.5s;
    width: 44vw;
    height: 50vh;
  }

  /* --- */
  
  .linktree-button-left{
    margin-right: 8%;
    margin-left: 2%;
  }

  .linktree-button-right{
    margin-left: 6%;
    margin-right: 2%;
  }

  /* --- */
    
  .linktree-button:hover {
    transform: scale(1.06);
    z-index: 1;
  }
  
  .linktree-button:not(:hover) {
    transform: scale(1);
  }

  /* --- */

  @media (min-width: 1600px) {
    .linktree-container {
      width: 72%;
      height: 68vh;
      margin-left: 14%;
    }
  }