.linktree-container {
    margin-top: 18vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68vh;
    display: flex;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  
  .linktree-button {
    display: inline-block;
    transition: transform 0.5s;
    width: 40%;
    height: 50vh;
    text-align: center;
  }

  /* --- */
  
  .linktree-button:hover {
    transform: scale(1.06);
    z-index: 1;
  }
  
  .linktree-button:not(:hover) {
    transform: scale(1);
  }

  /* --- */
  
  .linktree-button-left{
    margin-right: 8vw;
    margin-left: 2vw;
  }

  .linktree-button-right{
    margin-left: 8vw;
    margin-right: 2vw;
  }

  /* --- */

  @media (min-width: 1420px) {
    .linktree-container {
      width: 55%;
      height: 68vh;
      padding-left: 23vw;
      padding-right: 23vw;
    }
  }