.section-title{
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 3vh;
}

.section-title-long{
    width: 66.7%;
    margin-left: 17%;
}

@media (min-width: 1420px) {
    .section-title-long{
        width: 33.3333333333333333333333333333333333333333333333333333333333333333333333333333333%;
        margin-left: 33.3333333333333333333333333333333333333333333333333333333333333333333333333333333%;
    }
  }

.section-title-short{
    width: 33.3333333333333333333333333333333333333333333333333333333333333333333333333333333%;
    margin-left: 33.3333333333333333333333333333333333333333333333333333333333333333333333333333333%;
}