.section-title{
    margin-top: 9vh;
    margin-bottom: 3vh;
    margin-left: 27.5vw;
    padding: 0.5%;
}

.section-title-long{
    width: 45vw;
}

@media (min-width: 1420px) {
    .section-title-long{
        width: 33.3333333333333333333333333333333333333333333333333333333333333333333333333333333%;
        margin-left: 33.3333333333333333333333333333333333333333333333333333333333333333333333333333333%;
    }
  }

.section-title-short{
    width: 45vw;
}