.section-title{
    margin-top: 9vh;
    margin-bottom: 3vh;
    padding: 1%;
    text-align: center;
}

.section-title-long{
    width: 30vw;
    margin-left: 35vw;
}

.section-title-short{
    width: 20vw;
    margin-left: 40vw;
}

@media (min-width: 1420px) {
  }

