/* Style for the bubble chat container */
.bubble-chat {
  position: relative;
  width: 25vw; /* Adjust the width as needed */
  padding: 10px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
}
/* Style for the content inside the bubble */
.bubble-content {
  padding: 5px;
}

/* Optional: Add some styling to the text inside the bubble */
.bubble-content p {
  margin: 0;
  font-size: 16px;
}



@media (max-width: 600px) {
  .bubble-chat {
    position: relative;
    width: 80vw;
  }
}