.bubble-chat {
  position: relative;
  width: 25vw;
  padding: 10px;
  border-radius: 10px;
}

.bubble-content {
  padding: 5px;
}

.bubble-content p {
  margin: 0;
  font-size: 16px;
}



@media (max-width: 800px) {
  .bubble-chat {
    position: relative;
    width: 80vw;
  }
}

@media (prefers-color-scheme: light) {
  .bubble-chat {
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.2px);
    -webkit-backdrop-filter: blur(14.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}

@media (prefers-color-scheme: dark) {
  .bubble-chat {
    background: rgba(0, 0, 0, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(14.2px);
    -webkit-backdrop-filter: blur(14.2px);
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}
