.zindex-1{
    z-index: 1;
}

.zindex-2{
    z-index: 2;
}
.padding-onevw{
    padding: 1vw;
}

.padding-twovw{
    padding:2w;
}

.padding-threevw{
    padding: 3vw;
}

.padding-fourvw{
    padding: 4vw;
}

.padding-fivevw{
    padding: 5vw;
}

.padding-onepx{
    padding: 1px;
}

.padding-twopx{
    padding: 2px;
}

.padding-threepx{
    padding: 3px;
}

.padding-fourpx{
    padding: 4px;
}

.padding-fivepx{
    padding: 5px;
}

.margin-left-3vw{
    margin-left: 3vw;
}

.margin-left-25vw{
    margin-left: 25vw;
}

.margin-left-12-5vw{
    margin-left: 12.5vw;
}

.margin-left-22-5vw{
    margin-left: 22.5vw;
}

.margin-right-22-5vw{
    margin-right: 22.5vw;
}
.margin-right-25vw{
    margin-right: 25vw;
}
.margin-left-33vw{
    margin-left: 33vw;
}

.margin-left-50vw{
    margin-left: 50vw;
}

.margin-right-50vw{
    margin-right: 50vw;
}

.margin-top-10vh{
    margin-top: 10vh;
}

.margin-bottom-2vh{
    margin-bottom: 2vh;
}
.margin-bottom-10vh{
    margin-bottom: 10vh;
}