.padding-onevw{
    padding: 1vw;
}

.padding-twovw{
    padding:2w;
}

.padding-threevw{
    padding: 3vw;
}

.padding-fourvw{
    padding: 4vw;
}

.padding-fivevw{
    padding: 5vw;
}

.padding-onepx{
    padding: 1px;
}

.padding-twopx{
    padding: 2px;
}

.padding-threepx{
    padding: 3px;
}

.padding-fourpx{
    padding: 4px;
}

.padding-fivepx{
    padding: 5px;
}