header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 5vh;
  margin-bottom: 7vh;
  transition: 0.3s ease;
  z-index: 1;
  padding-left: 1vw;
  padding-top: 0.3vh;
  padding-bottom: 1vh;
}

header span{
  margin-top: 50%;
}