footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    margin-right: 3vw;
    margin-bottom: 5vh;
    width: 10vw;
    z-index: 1;
    border-radius: 16px;
    padding: 0.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(9px);
}

.footer-display{
    display: inline-block;
}

.contained-img {
    max-width: 100%;
    max-height: 5vh;
    margin-left: 1%;
    margin-right: 1%;
    width: auto;
    display: block;
    transition: transform 0.5s;
}

.contained-img:hover {
    transform: scale(1.2);
    z-index: 1;
  }
  
  .contained-img:not(:hover) {
    transform: scale(1);
  }

@media (max-width: 927px) {
    footer {
        height: 16vh; /* Increase the height of the footer */
        max-width: 15vw;
        right:0;
        margin-left:80vw;

    }

    .contained-img {
        max-height: 4vh; /* Increase the max-height of the images */
        margin-bottom: 2vh;
    }

    .footer-display{
        display: flex;
        flex-direction: column;
    }
}