header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 5vh;
  margin-bottom: 7vh;
  transition: 0.3s ease;
  z-index: 1;
  padding-left: 1vw;
  padding-top: 0.3vh;
  padding-bottom: 1vh;
}

header span{
  margin-top: 50%;
}

#header-name span {
  transition: filter 0.5s;
  z-index: 0; /* Setting the initial z-index to 0 */
}

#header-name span:hover {
  filter: invert(100%);
  z-index: 1;
}

#header-name span:not(:hover) {
  filter: invert(0%);
}